html,body{
	 	height: 100vh;
	        width: 100vw;
	 	margin:0;
	 	padding: 0;
	 	background-color: #66CCCC;
	 }
	 p{
	 	text-align: center;
	 	color: white;
	        font-family:üK‘Ì;
	 }
	 #backbutton{
                position: absolute;
                top: 2%;left: 2%;
	 }  
	 #title{
                width: 100%;
                text-align: center;
                position: absolute;
                top: 15%;
    #text{
    	        position: absolute;
                top: 35%;left: 10%;
    	        width: 80%;
    	        color: white;
    	        font-family:黑体;
    	        line-height: 2em;
     }
    
    #box{
    	width: 100%;
    	position: absolute;
    	bottom: 10%;    	
    }
    .icon1{  
	display: inline-block;    
    	margin-left: 10%;
    }
    .icon2{
	display: inline-block;
    	float: right;
        margin-right: 10%;       
    }
