
		.c2{
			font-size: 0px;/*è¡èúinline-block ?ãó*/
			text-align: center;
		}
		.c1{
			border:solid 5px white;
			border-radius: 15px;
			background-color: orange;
			display: inline-block;
			width:15%;height: 0px;/*é©??  */
			padding-bottom: 15%;/*é©??  */
		}
