  body,html{
		  margin: 0;
		  padding: 0;
		  height: 100%;
		  width: 100%;
      font-family: ”χ?‰λόK;
	  }
    .head{
    	width: 100%;
    	height: 8vh;
    	background-color: rgb(95,192,205);
    	position: fixed;
    	top: 0;
    	z-index: 1;
    }
    .titlebox,.backbox{
    	display: table;
    	height: 100%;
    	color: white;
      font-weight: bold;
      font-size: 1.2em;
    }
	.title,.back{
		  display: table-cell;
		  text-align: center;
		  vertical-align: middle;
	  }
    .backbox{
      position: absolute;
      top: 0;left: 15px;
    }
	.titlebox{
		  margin: 0 auto;
	  }


	.photo{
		  width: 100%;
		  height: 30vh;
		  position: absolute;
		  top: 8vh;
		  background-image: url(images5-1/bg.png);
		  background-repeat: no-repeat;
		  background-size: 100% 100%;
	  }
	.picbox,.namebox{
		  display: table;
		  height: 100%;
	  }
    .pic,.name{
    	display: table-cell;
    	vertical-align: middle;	
      color: white;
    }
    .namefont{
      font-size: 1.3em;
    }
    .age{
      margin-left: 15px;
    }
    .picbox{
    	float: left;
    	margin:auto 20px;
    }


    .skillbox{ 
      position: absolute;
      top: 38vh;
      height: 10vh;
      display: table;
      width: 100%; 
      border-bottom: solid 1px rgb(153,153,153);
    }
    .skill{
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }
    .skilltext{
      border-left: solid 5px rgb(95,192,205);
      padding-left: 10px;
    } 
    

    .content{
    	position: absolute;
    	top: 48vh;
    	width: 100%;
      height: 350px;
      border-collapse: collapse;
      margin-bottom: 10vh; /*??π“Ε’α’[*/
    }
    td{
      border-bottom: solid 1px rgb(153,153,153);
      vertical-align: middle;
     }
    .col1{
      width: 100px;
     }
     .colborder{
      padding-left: 15px;
      padding-right: 15px;
      border-right: solid 1px rgb(153,153,153);
      color: rgb(153,153,153);
     }
     .col2,.col0{
      padding-left: 15px;
     }
     .colspace{
      padding-right: 20px;
     }
     .fontcolor{
      color: rgb(226,97,99);
     }


    .footbox{
    	position: fixed;
    	bottom: 0;
    	width: 100%;
      height: 8vh;
    	text-align: center;	
    	table-layout: fixed;
      background-color: white;
    }
    
    .footcontent1,.footcontent2{
      border: solid rgb(95,192,205);
      border-radius: 8px;
      vertical-align: middle;

    }
    .footcontent1{
      color: rgb(95,192,205);
      background-color: white;
    }
    .footcontent2{
      color: white;
      background-color: rgb(95,192,205);
    }

    .tablespace{
      border: none;
    	width: 15px;
    }
